    <div class="footer">
        <div class="footer-container page-container">
            <div class="footer-bottom">
                <div class="footer-links">
                    <div class="footer-link-group">
                        <h4>Help</h4>
                        <ul>
                            <li><a href="#help" class="footer-link">Help & Support</a></li>
                            <li><a href="#delivery" class="footer-link">Delivery information</a></li>
                            <li><a href="#returns" class="footer-link">Returns, Exchanges & Refunds</a></li>
                        </ul>
                    </div>
                    <div class="footer-link-group">
                        <h4>Follow us</h4>
                        <ul>
                            <li><a href="#facebook" class="footer-link link-icon"><i class="fab fa-facebook-f"></i> Facebook</a></li>
                            <li><a href="#instagram" class="footer-link link-icon"><i class="fab fa-instagram"></i> Instagram</a></li>
                            <li><a href="#twitter" class="footer-link link-icon"><i class="fab fa-twitter"></i> Twitter</a></li>
                            <li><a href="#pinterest" class="footer-link link-icon" ><i class="fab fa-pinterest"></i> Pinterest</a></li>
                        </ul>
                    </div>
                    <div class="footer-link-group email-text-box">
                        <h4>Mailing list</h4>
                        <p>Receive the latest offers and promotions as well as <b>10% off</b> your first order.</p>
                        <div class="input-group">
                            <input type="text" placeholder="Enter your email address">
                            <span class="button-group">
                                <button class="btn button-orange" type="button">Subscribe</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-container">
            <div class="footer-bottom-holder">
                <div class="footer-bottom-content left">
                    <p class="footer-text">Copyright © Go Mart 2019</p>
                </div>
                <div class="footer-bottom-content right">
                    <a href="#cookies" class="footer-text">Cookies</a>
                    <a href="#privacy" class="footer-text">Privacy</a>
                    <a href="#terms" class="footer-text">Terms & Conditions</a>
                    <a href="#legal" class="footer-text">Legal Disclaimer</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>