<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>GO Mart - {{ title }}</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/dropdown.js') }}"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>

<body>

<div class="dimmer" id="menu-dimmer"></div>
<div class="header">
    <div class="main-header">
        <div class="top-links">
            <div class="page-container">
                <div class="links-holder left">
                    <!--<a href="#help" class="top-link-item"><p>Help</p></a>-->
                </div>
                <div class="links-holder right">
                    <a href="#signin" class="top-link-item">Sign in</a>
                    <a href="#register" class="top-link-item">Register</a>
                </div>
            </div>
        </div>

        <div class="top-nav">
            <div class="top-nav-holder">
                <div class="dropdown-box dropdown-search" id="search-dropdown">
                    <div class="dropdown-content">
                        <div class="dropdown-column" id="search-items">
                            <a href="#cat1" class="dropdown-item">Eggs</a>
                            <a href="#cat2" class="dropdown-item">Free Range Eggs & Chilled</a>
                        </div>
                    </div>
                </div>

                <div class="logo">
                    <a class="active" href="/"><span class="logo-image"></span></a>
                </div>

                <div class="right-of-logo">
                    <div class="top-nav-content">
                        <div class="input-group search-container">
                            <input id="search-bar" type="text" placeholder="Search..." {% if term %}value="{{ term }}"{% endif %}>
                            <span class="button-group">
                                <button class="btn button-search button-orange" type="button" id="search-button"><i class="fas fa-search"></i></button>
                            </span>
                        </div>

                        <div class="right-nav">
                            <a href="basket.html" class="btn button-outline-dark button-basket">£0.00</a>
                            <a href="#checkout" class="btn button-disable">Checkout</a>
                        </div>
                    </div>

                    <div class="bar">
                        <div class="items">
                            <div class="item-group items-left">
                                <a href="#departments" class="menu-bar-item" id="menu-department"><p>Departments <i class="fas fa-chevron-down""></i></p></a>
                                <a href="#offers" class="menu-bar-item bar-item-important"><p>Offers</p></a>
                            </div>
                            <div class="item-group items-right">
                                <a href="#departments" id="menu-favourites" class="menu-bar-item"><p>Favourites  <i class="fas fa-chevron-down" style="color: black; margin-left: 5px;"></i></p></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-container">
            <div class="dropdown-box" id="department-dropdown">
                <div class="dropdown-content">
                    <div class="dropdown-column">
                        <a href="#cat1" class="dropdown-item top">View All <i class="fas fa-chevron-right"></i></a>
                        {% for department in page_basis.departments %}
                                <a href="#cat{{ department.id }}" class="dropdown-item">{{ department.name }} <i class="fas fa-chevron-right"></i></a>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="dropdown-box dropdown-right dropdown-small" id="favourites-dropdown">
                <div class="dropdown-content">
                    <div class="dropdown-column">
                        <a href="#cat1" class="dropdown-item top">View All <i class="fas fa-chevron-right"></i></a>
                        <a href="#cat2" class="dropdown-item">Fresh & Chilled <i class="fas fa-chevron-right"></i></a>
                        <a href="#cat2" class="dropdown-item">Bakery <i class="fas fa-chevron-right"></i></a>
                        <a href="#cat2" class="dropdown-item">Frozen <i class="fas fa-chevron-right"></i></a>
                        <a href="#cat2" class="dropdown-item">Beer, Wine & Spirits <i class="fas fa-chevron-right"></i></a>
                        <a href="#cat2" class="dropdown-item">Household <i class="fas fa-chevron-right"></i></a>
                        <a href="#cat2" class="dropdown-item">Toiletries <i class="fas fa-chevron-right"></i></a>
                        <a href="#cat2" class="dropdown-item">Health & Medicine <i class="fas fa-chevron-right"></i></a>
                        <a href="#cat2" class="dropdown-item">Pet <i class="fas fa-chevron-right"></i></a>
                        <a href="#cat2" class="dropdown-item">Drinks <i class="fas fa-chevron-right"></i></a>
                        <a href="#cat2" class="dropdown-item">New <i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="extra-shit">
        <div class="page-container extra-items">
            <a href="#20off" class="extra-shit-item">
                <i class="fas fa-truck"></i> <p><b>20% OFF</b> your first order</p>
            </a>
            <a href="#quality" class="extra-shit-item">
                <i class="fas fa-heart"></i> <p>Quality products picked and packed with care</p>
            </a>
            <a href="#orderb4" class="extra-shit-item">
                <i class="fas fa-box"></i> <p>Order before <b>4pm</b> for next day delivery</p>
            </a>
        </div>
    </div>
</div>