.basket-container {
    display: flex;
}

.basket-items {
    width: 845px;
    margin-right: 20px;
}

.basket-items .items-bottom-right {
    float: right;
}

.basket-items .items-bottom-right h3 {
    margin: 0;
    font-weight: 600;
}

.table-bottom {
    position: relative;
}

.basket-items-right {
    width: 335px;
}

.basket-items-table {
    margin-bottom: 20px;
}

.table-row {
    height: 100px;
    line-height: 100px;
    display: flex;
    border-bottom: 1px solid #EEEEEE;
}

.table-row.table-header {
    height: 60px;
    line-height: 60px;
}

.table-picture-product {
    padding-left: 0;
    display: flex;
    margin: 20px 0;
}


.table-row div {
}

.table-row p {
    margin: 0;
}

.table-row p.important {
    font-weight: 600;
}

.basket-items-table .col1 {
    width: 435px;
    padding: 0 20px 0 50px;
}

.basket-items-table .col2 {
    width: 145px;
    padding-left: 20px;
}

.basket-items-table .col3 {
    width: 140px;
    padding-left: 20px;
}

.basket-items-table .col4 {
    width: 105px;
    padding-left: 20px;
}

.basket-items-table .table-header p {
    font-weight: 600;
}

.basket-items-right div {
    margin-bottom: 20px;
}

.basket-items-right .checkout-content {
    padding: 20px;
}

.product-image-container {
    size: 60px;
}

.product-title {
    height: 60px;
    line-height: normal;
    margin-left: 20px;
    display: table;
    font-weight: 500;
}

.quantity-input {
    width: 70px;
    background-color: #F9F9F9;
}

.product-title p {
    margin: 0;
    display: table-cell;
    vertical-align: middle;
}

.checkout-content h3 {
    margin: 0 0 15px;
    font-weight: 600;
}

.button-checkout {
    width: 100%;
}